<!doctype html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <style> 
       body{
        font-family: 'Montserrat', sans-serif;
        background-color: grey;
       }
       h1{
           color:white
       }
       p{
           color:white
       }
    </style> 
    
</head>
<title>PowerDog Api</title>
<h1>APowerPI</h1> 
<p>The official implementation of the PowerDog web api <a  href="http://api.power-dog.eu/documentation/">power-dog.eu</a></p>
<p>She <a href="https://github.com/navabase/PowerDog-Api/blob/master/README.md">here</a> for the Documentation</p>